p {
  background: lightgreen;
  border: 1px solid black;
  padding: 20px;
}
span {
  background: yellow;
  border: 1px solid black;
  padding: 40px 20px 50px 30px;
  /* margin: 20px; */
  margin: 0;
  display: inline-block;
  font-size: 16px;
}
.first {
  margin-bottom: 0;
}
.second {
  margin-top: 0;
}
.margin {
  margin-left: -4px;
}
.wrap {
  font-size: 0;
}